.game-container {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: 6vw repeat(4, 1fr);
    grid-template-rows: 6vw repeat(4, 1fr);
    grid-gap: 1rem;
    background-color: $color-halloween-green;
    color:$color-slate;
    margin: 2rem 0;
    width: 800px;
    height: 800px;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    font-family: "Anton", sans-serif;
    font-size: 2.4rem;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: start;

    @media only screen and (max-width: $bp-large){
      width: 700px;
      height: 700px;
    }
    @media only screen and (max-width: $bp-medium){
      width: 600px;
      height: 600px;
      font-size: 2rem;
    }
    @media only screen and (max-width: $bp-small){
      grid-row: 1/2;
      width: 450px;
      height: 450px;
      font-size: 1.8rem;
    }
    @media only screen and (max-width: $bp-smallest){
      width: 350px;
      height: 350px;
    }
  }
  
  .letter1 {
    grid-column: 2/3;
  }
  
  .letter2 {
    grid-column: 3/4;
  }
  
  .letter3 {
    grid-column: 4/5;
  }
  
  .letter4 {
    grid-column: 5/6;
  }
  
  .number1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .number2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  
  .number3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  
  .number4 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  
  .game-tiles {
    grid-row: 2/6;
    grid-column: 2/6;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background: transparent;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    perspective: 1000px;
    justify-items: center;
    align-items: center;
  }
  
  .showTiles {
    display: grid;
  }
  
  

